:root {
  --accent-color: rgba(188, 26, 26, 0.5);
  --basic-bgc: #100f0f;
  --basic-text-color: #f3f3f3;
  --title-color: #f3f3f3;
  --transition-values: 300ms cubic-bezier(ease-in-out);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**--------HEADER----------*/

.header {
  background-image: linear-gradient(
    256.51deg,
    rgba(111, 102, 102, 0.9) 26.96%,
    rgba(16, 15, 15, 0.9) 79.08%,
    rgba(16, 15, 15, 0.9) 79.08%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  margin-right: 228px;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 52px;
}

.header-nav-link {
  display: block;
  padding-top: 31px;
  padding-bottom: 30px;

  color: var(--basic-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);

  transition: color var(--transition-values);
}
.header-nav-link:is(:hover, :focus) {
  color: var(--accent-color);
}
.header-btn {
  min-width: 160px;
  height: 40px;
  border: 1px solid #f3f3f3;
  border-radius: 16px;

  background-color: transparent;
  color: var(--basic-text-color);
  font-weight: 800;
  font-size: 16px;
  line-height: calc(20 / 16);

  transition: border-color var(--transition-values),
    color var(--transition-values);
}

.header-btn:is(:hover, :focus) {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/**-------- HERO---------- */

.hero {
  padding-top: 72px;
  padding-bottom: 71px;

  background-image: linear-gradient(
    228.52deg,
    rgba(111, 102, 102, 0.9) 4.71%,
    rgba(16, 15, 15, 0.9) 39.77%,
    rgba(16, 15, 15, 0.9) 44.21%
  );
}
.hero-container {
  display: flex;
  align-items: center;
}
.hero-text-wrap {
  margin-right: 157px;
}
.hero-title {
  position: relative;
  max-width: 388px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 64px;
  line-height: calc(78 / 64);
}
.hero-title::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -12px;
  height: 153px;

  border: 1px solid #f3f3f3;
}
.hero-text {
  color: var(--basic-text-color);
  font-weight: 300;
  font-size: 36px;
  line-height: calc(44 / 36);
}
.hero-text-item {
  color: rgba(188, 26, 26, 0.71);
  font-weight: 900;
  font-size: 36px;
  line-height: calc(44 / 36);
}
.hero-btn {
  padding: 20px 84px;
  border: none;
  border-radius: 16px;

  color: var(--basic-text-color);
  background-color: rgba(188, 26, 26, 0.2);
  font-weight: 500;
  font-size: 30px;
  line-height: calc(37 / 30);
}
.values-list {
}
.values-text {
  color: var(--basic-text-color);
  font-size: 16px;
  line-height: calc(20 / 16);
}
.values-text-title {
  margin-right: 12px;

  color: var(--title-color);
  font-weight: 600;
  font-size: 32px;
  line-height: calc(39 / 32);
}

.hero-img-icon {
  fill: #f3f3f3;
}
.hero-img {
  margin-right: 50px;
}
.hero-social-links {
}
.social-link {
}

.social-icon {
  fill: #f3f3f3;
}

/**------STORE------- */

.store {
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: var(--basic-bgc);
}

.top-btn {
}
.store-list {
}
.store-list-item {
  display: flex;
  align-items: center;
  column-gap: 90px;
}

.store-img {
  border-radius: 50%;
}
.store-title {
  margin-bottom: 16px;

  color: var(--title-color);
  font-size: 32px;
  line-height: calc(39 / 32);
}
.store-text {
  margin-bottom: 20px;

  color: var(--basic-text-color);
  font-size: 16px;
  line-height: calc(20 / 16);
}
.store-text-one {
  max-width: 406px;
}
.store-text-two {
  max-width: 443px;
}
.store-btn {
  padding: 9px 57px;
  border: none;
  border-radius: 8px;

  background-color: rgba(188, 26, 26, 0.2);
  color: var(--basic-text-color);
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);
  transition: background-color var(--transition-values);
}

.store-btn:is(:hover, :focus) {
  background-color: rgba(188, 26, 26, 0.5);
}
.bottom-btn {
}

/**-------- RECIPES--------  */

.recipes {
  background-color: var(--basic-bgc);
}
.video-list {
  display: flex;
  align-items: center;
  column-gap: 100px;
}
.video-list-item {
}

.video {
  display: block;
  margin-bottom: 16px;
}

.video-list-title {
  text-align: center;
  color: var(--title-color);
  font-weight: 400;
  font-size: 32px;
  line-height: calc(39 / 32);
}
